body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

ul.collection,
.collection.with-header li.collection-header,
.collection.with-header li.collection-item {
    border: none;
}